<div class="container">
    <h1 class="mb-4">Login</h1>
    <form action="/auth/login" method="POST">
        <%- include('_form_fields') %>
    </form>
    <br>
    <a href="/auth/register">New? Sign up!</a>
</div>