<h1>Register</h1>

<div class="container">
    <form action="/auth/ras-admin" method="POST">
        <div>
            <label for="pseudo">Name</label>
            <input type="text" id="pseudo" name="pseudo" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
<a href="/auth/ras-adminLog">Login</a>