<div class="container">
    <h1 class="mb-4">Edit artwork content</h1>
    <form action="/artworks/<%= artwork.id %>?_method=PUT " method="POST" enctype="multipart/form-data">
        <!--Multi-part forms can send files-->
    <%- include('_form_fields') %>
    </form>
</div>