<!--Admin only (...it depends)-->
<% if(isAdmin || (userId == isAuthor)){ %> 

<form action="<%= url %>/?_method=DELETE" method="POST" class="d-inline">
    <!--POST is overrided by DELETE with the library method override-->
    <button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>

<%}%>