<style>
    .drawing-area {
        position: absolute;
        top: 60px;
        left: 122px;
        z-index: 10;
        width: 200px;
        height: 400px;
    }

    .canvas-container {
        width: 200px;
        height: 400px;
        position: relative;
        user-select: none;
    }

    #tshirt-div {
        width: 452px;
        height: 548px;
        position: relative;
        background-color: none;
    }

    #canvas {
        position: absolute;
        width: 200px;
        height: 400px;
        left: 0px;
        top: 0px;
        user-select: none;
        cursor: default;
    }
</style>

<style>
    #item-isMug {
        display: none;
    }
</style>

<div class="container">
    <label for="item-design">Choose your item:</label>
    <select onchange="displayItem(this)">
        <option value="">Select one customizable item ...</option>
        <option value="item-isTshirt">T-shirt</option>
        <option value="item-isMug">Mug</option>
    </select>
</div>

<div id="item-isTshirt">
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap">

            <!-- Create the container of the tool -->
            <div id="tshirt-div">
                <!-- 
                Initially, the image will have the background tshirt that has transparency
                So we can simply update the color with CSS or JavaScript dinamically
            -->
                <img id="tshirt-backgroundpicture" src="/images/background_tshirt.png" />

                <div id="drawingArea" class="drawing-area">
                    <div class="canvas-container">
                        <canvas id="tshirt-canvas" width="200" height="400"></canvas>
                    </div>
                </div>
            </div>

            <div class="container" style="width: 28rem;">
                <!--28rem = à voir selon les écrans-->
                <p>To remove a loaded picture on the T-Shirt select it and press the <kbd>DEL</kbd> key.</p>
                <!-- The select that will allow the user to pick one of the static designs -->
                <br>
                <label for="tshirt-design">T-Shirt Design:</label>
                <select id="tshirt-design">
                    <option value="">Select one of our designs ...</option>
                    <option value="/images/RAS.png">Ruopu Art Space</option>
                </select>

                <!-- The Select that allows the user to change the color of the T-Shirt -->
                <br><br>
                <label for="tshirt-color">T-Shirt Color:</label>
                <select id="tshirt-color">
                    <!-- You can add any color with a new option and definings its hex code -->
                    <option value="#fff">White</option>
                    <option value="#000">Black</option>
                    <option value="#f00">Red</option>
                    <option value="#008000">Green</option>
                    <option value="#ff0">Yellow</option>
                </select>

                <!--add text-->
                <br>
                <button class="btn btn-outline-dark" id='tshirt-text'>Add text</button>

                <br><br>
                Upload your own design:
                <label for="tshirt-custompicture"></label>
                <input type="file" id="tshirt-custompicture" />

                <br><br>
                <button class="btn btn-dark" id='dl'>Download</button>
                <br><br>
            </div>

        </div>
    </div>

    <div class="container">
        <div id='new-design'></div>
    </div>
</div>

<!--fnknf mug-->
<!--With a mug now-->
<div id="item-isMug">
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap">
            <div id="mug-div" style="background-color: whitesmoke; justify-content: center; position: relative;">

                <img id="mug-backgroundpicture" src="/images/mug.png" width="452" height="280" />

                <div id="drawingAreaMug">
                    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 10;">
                        <canvas id="mug-canvas" width="452" height="280"></canvas>
                    </div>
                </div>
            </div>


            <div class="container" style="width: 28rem;">
                <!--28rem = à voir selon les écrans-->
                <p>To remove a loaded picture on the Mug select it and press the <kbd>DEL</kbd> key.</p>
                <!-- The select that will allow the user to pick one of the static designs -->
                <br>
                <label for="mug-design">Mug Design:</label>
                <select id="mug-design">
                    <option value="">Select one of our designs ...</option>
                    <option value="/images/RAS.png">Ruopu Art Space</option>
                </select>

                <!--add text-->
                <br>
                <button class="btn btn-outline-dark" id='mug-text'>Add text</button>

                <br><br>
                Upload your own design:
                <label for="mug-custompicture"></label>
                <input type="file" id="mug-custompicture" />

                <br><br>
                <button class="btn btn-dark" id='dl-mug'>Download</button>
                <br><br>
            </div>

        </div>
    </div>

    <div class="container">
        <div id='new-mugdesign'></div>
    </div>
</div>

<!-- Include Fabric.js in the page -->
<script src="/javascripts/fabric.min.js"></script>
<script src="/javascripts/dom-to-image.js"></script>
<script>
    let canvas = new fabric.Canvas('tshirt-canvas');
    let mug_canvas = new fabric.Canvas('mug-canvas');

    function updateTshirtImage(imageURL, canvas) {
        fabric.Image.fromURL(imageURL, function (img) {
            img.scaleToHeight(300);
            img.scaleToWidth(300);
            canvas.centerObject(img);
            canvas.add(img);
            canvas.renderAll();
        });
    }

    function displayItem(elementValue) {
        document.getElementById('item-isTshirt').style.display = elementValue.value == 'item-isTshirt' ? 'block' : 'none';
        document.getElementById('item-isMug').style.display = elementValue.value == 'item-isMug' ? 'block' : 'none';
    }
    //item-isMug value = 1 s'affiche

    // Update the TShirt color according to the selected color by the user
    document.getElementById("tshirt-color").addEventListener("change", function () {
        document.getElementById("tshirt-div").style.backgroundColor = this.value;
    }, false);

    //Add text to Tshirt
    document.getElementById('tshirt-text').addEventListener('click', function () {
        canvas.add(new fabric.IText('Tap and Type', {
            fontFamily: 'arial black',
            left: 100,
            top: 100,
        }));
    })

    //to mug
    document.getElementById('mug-text').addEventListener('click', function () {
        mug_canvas.add(new fabric.IText('Tap and Type', {
            fontFamily: 'arial black',
            left: 100,
            top: 100,
        }));
    })

    // Update the TShirt color according to the selected color by the user
    document.getElementById("tshirt-design").addEventListener("change", function () {

        // Call the updateTshirtImage method providing as first argument the URL
        // of the image provided by the select
        updateTshirtImage(this.value, canvas);
    }, false);

    //mmg
    document.getElementById("mug-design").addEventListener("change", function () {

        // Call the updateTshirtImage method providing as first argument the URL
        // of the image provided by the select
        updateTshirtImage(this.value, mug_canvas);
    }, false);

    // When the user clicks on upload a custom picture
    document.getElementById('tshirt-custompicture').addEventListener("change", function (e) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var imgObj = new Image();
            imgObj.src = event.target.result;

            // When the picture loads, create the image in Fabric.js
            imgObj.onload = function () {
                var img = new fabric.Image(imgObj);

                img.scaleToHeight(300);
                img.scaleToWidth(300);
                canvas.centerObject(img);
                canvas.add(img);
                canvas.renderAll();
            };
        };

        // If the user selected a picture, load it
        if (e.target.files[0]) {
            reader.readAsDataURL(e.target.files[0]);
        }
    }, false);

    //muuuuuuuug
    document.getElementById('mug-custompicture').addEventListener("change", function (e) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var imgObj = new Image();
            imgObj.src = event.target.result;

            // When the picture loads, create the image in Fabric.js
            imgObj.onload = function () {
                var img = new fabric.Image(imgObj);

                img.scaleToHeight(300);
                img.scaleToWidth(300);
                mug_canvas.centerObject(img);
                mug_canvas.add(img);
                mug_canvas.renderAll();
            };
        };

        // If the user selected a picture, load it
        if (e.target.files[0]) {
            reader.readAsDataURL(e.target.files[0]);
        }
    }, false);

    // When the user selects a picture that has been added and press the DEL key
    // The object will be removed !
    document.addEventListener("keydown", function (e) {
        var keyCode = e.keyCode;

        if (keyCode == 46) {
            console.log("Removing selected element on Fabric.js on DELETE key !");
            canvas.remove(canvas.getActiveObject());
            mug_canvas.remove(mug_canvas.getActiveObject());
        }
    }, false);

    document.getElementById('dl').addEventListener('click', function () {
        // Define as node the T-Shirt Div
        var node = document.getElementById('tshirt-div');

        domtoimage.toPng(node).then(function (dataUrl) {
            // Print the data URL of the picture in the Console
            console.log(dataUrl);

            // You can for example to test, add the image at the end of the document
            var img = new Image();
            img.src = dataUrl;
            document.getElementById('new-design').appendChild(img);
        }).catch(function (error) {
            console.error('oops, something went wrong!', error);
        });
    });

    //mmg
    document.getElementById('dl-mug').addEventListener('click', function () {
        // Define as node the T-Shirt Div
        var node = document.getElementById('mug-div');

        domtoimage.toPng(node).then(function (dataUrl) {
            // Print the data URL of the picture in the Console
            console.log(dataUrl);

            // You can for example to test, add the image at the end of the document
            var img = new Image();
            img.src = dataUrl;
            document.getElementById('new-mugdesign').appendChild(img);
        }).catch(function (error) {
            console.error('oops, something went wrong!', error);
        });
    });
</script>