<form action="<%= url%>/?_method=PUT" method="POST" class="d-inline">
    <input hidden value="<%= article.title //CHANGE with userID or smthg %>" type="text" name="test"
        id="test">
    <button class="btn" type="submit">
        <i class="fa fa-heart"></i> <%= replies%></button>
</form>