<form action="<%= url %>/?_method=PUT" method="POST" class="d-inline">
    <!--POST is overrided by PUT with the library method override-->
    <div class="form-group">
        <textarea class="form-control" rows="3" required type="text" name="content" id="content"><%= placeholder %></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
